@import 'bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-main{
    background-color: rgb(54, 196, 54);
    color: rgb(235, 131, 14);
}
